.edgeButton {
    cursor: pointer;
    pointer-events: all;
    stroke: #000000;
    fill: white;
  }
  
.edgeButton:hover {
  fill: #f5f5f5;
}

.edgeButtonText {
  pointer-events: none;
  user-select: none;
  fill: #000000;
}

.edgePath {
  fill: none;
  stroke: #000000;
  stroke-width: 1;
}

.placeholderPath {
  stroke-width: 1;
  stroke-dasharray: 3 3;
  stroke: #bbb;
  fill: none;
}